/* imports the google fonts */
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');

body{
    background-color: rgb(166, 167, 166);
}
.colorbox{
    height:200px;
    width:200px;
    margin-left: 35vw;
    margin-top: 13vh;
}
.p{
    font-size: 30px;
    color:white;
    text-align: center;
    
}
#title1{
    font-family: 'Spicy Rice', cursive;
    color:darkgreen;
    margin-left: 35vw;
    background-color: gold;
}
#title2{
    font-family: 'Spicy Rice', cursive;
    color:royalblue;
    margin-left: 35vw;
    background-color: gold;
}